$secondary: #24292e;
$primary: #000;
$white: #fff;

.upperNav {
  background-color: $secondary;
  min-height: 10vh;
  padding: 10px;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  margin: 50px 0;
}

.main-details {
  display: flex;
  justify-content: center;
  h3 {
    margin: 0.5rem 0;
  }
}

.contributers-list-view {
  padding: 2% 5%;
}

// .contList {
//   padding: 2% 10%;
// }

.contributers-list-item {
  border-bottom: 1.5px solid $primary;
  padding: 2% 0;
  @media screen and (max-width: 900px){
  &:first-of-type {
    border-top: 1.5px solid $primary;
    margin-top: 0.5rem;
  }}
  p,
  h6 {
    text-align: center;
  }

  .person-info-wrapper {
    .MuiAvatar-root {
      margin: 0.5rem 0;
      width: 75px;
      height: 75px;
    }
  }

  .criteria-wrapper {
    min-width: fit-content;
  }
}
