$secondary: #24292e;
$primary: #000;
$white: #fff;

.upperNav {
  background-color: $secondary;
  min-height: 10vh;
  padding: 10px;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contList {
  padding: 2% 10%;
}

.contributers-list-item {
  border-bottom: 1px solid $primary;
  padding: 2% 0;
  p,
  h6 {
    text-align: center;
  }

  .person-info-wrapper{
    .MuiAvatar-root {
      margin: 0.5rem 0;
      width: 75px;
      height: 75px;
    }
  }

  .criteria-wrapper {
    min-width: fit-content;
  }
}
